body{
    background-color: turquoise;
}
.divit1{
    border: 3px solid lightslategrey;
    background-color: rgb(96, 96, 245);
}
button{
    float: right;
    color: black;
    font-weight: bold;
    background: gray;
}
.divit2{
    text-align: center;
    border: 3px solid lightslategrey;
    background-color: rgb(96, 96, 245);
}
.music{
    padding-left: 20px;
    width: 30.1%;
}
.code{
    padding-left: 10px;
    width: 40%;
}
.music2{
    padding-left: 10px;
    width: 20.4%;
}

.here{
    width: 41.6%;
}
.there{
    width: 30%;
}